[Unit]
Description=Trilium docker containers and reverse proxy
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/user/trilium-server
ExecStart=/usr/bin/docker compose up --detach
ExecStop=/usr/bin/docker compose stop

[Install]
WantedBy=multi-user.target
